<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Manage/Index" title="Manage">
                Hello <span id="logged-in-user">@User.FindFirst("email")?.Value</span>!
            </a>
        </li>
        <li class="nav-item">
            <a id="logout" class="nav-link text-dark" asp-page="Signout">
                Signout
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a id="register" asp-page="Register">Register</a>
        </li>
        <li class="nav-item">
            <a id="login" class="nav-link text-dark" asp-page="Login">
                Login
            </a>
        </li>
    }
</ul>