@page
@model ExpenseManager.Pages.Create

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form action="/Create" method="post">
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>