@page
@model ExpenseManager.Pages.Create
@{
    ViewData["Title"] = "Create Expense";
}

<form asp-action="" method="post">
    <input asp-for="Data1.Expense"/>
    <input asp-for="Data1.Amount"/>
    <button type="submit">Submit</button>
</form>